# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\ryzhk\OneDrive\Документы\GitHub\ds_bootcamp\Bot_PolundraHack\Bot_PolundraHack\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
